<% @user ||= current_user %>
<div class="row">
  <div class="col-md-6">
    <div class="well profile">
      <div class="col-sm-12">
        <div class="col-xs-12 col-sm-8">
          <h2><%= @user.name %></h2>
          <p><strong>Repos: </strong>
            <span class="tags">hoge</span>
          </p>
          <p><strong>Issues: </strong>
              <span class="tags">hoge</span>
          </p>
          <p><strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. </p>
        </div>             
        <div class="col-xs-12 col-sm-4 text-center">
          <figure>
            <%= image_tag @user_image.image.thumb.url, class: 'img-circle img-responsive' if @user_image.present? %>
            <figcaption class="ratings">
              <p>Ratings
                <a href="#">
                  <span class="fa fa-star"></span>
                </a>
                <a href="#">
                  <span class="fa fa-star"></span>
                </a>
                <a href="#">
                  <span class="fa fa-star"></span>
                </a>
                <a href="#">
                  <span class="fa fa-star"></span>
                </a>
                <a href="#">
                  <span class="fa fa-star-o"></span>
                </a> 
              </p>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>            
    <div class="col-xs-12 divider text-center">
      <div class="col-xs-12 col-sm-4 emphasis">
        <h2><strong><%= @user.followers.count %></strong></h2>                    
        <p><small>Followers</small></p>
        <% unless current_user?(@user) %>
          <div id="follow_form">
          <% if current_user.following?(@user) %>
            <%= render 'unfollow' %>
          <% else %>
            <%= render 'follow' %>
          <% end %>
          </div>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-4 emphasis">
        <h2><strong><%= @user.followed_users.count %></strong></h2>                    
        <p><small>Following</small></p>
        <div class="btn-group dropup btn-block">
          <button type="button" class="btn btn-primary"><span class="fa fa-gear"></span> Options </button>
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu text-left" role="menu">
            <li><a href="#"><span class="fa fa-envelope pull-right"></span> Send an email </a></li>
            <li><a href="#"><span class="fa fa-list pull-right"></span> Add or remove from a list  </a></li>
            <li class="divider"></li>
            <li><a href="#"><span class="fa fa-warning pull-right"></span>Report this user for spam</a></li>
            <li class="divider"></li>
            <li><a href="#" class="btn disabled" role="button"> Unfollow </a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 emphasis">
        <h2><strong><%= @user.posts.count %></strong></h2>                    
        <p><small>Posts</small></p>
        <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Posts </button>
      </div>
    </div>                 
  </div>
  <div class="col-md-6">
    <%= render 'shared/feed' %>
  </div>
</div>
